:root {
  --background-color: rgb(10, 10, 10);
  --primary-color: rgb(30, 100, 30);
  --secondary-color: rgb(15, 70, 15);
}

body {
  background-color: var(--background-color);
  font-family: "Ubuntu", sans-serif;
  margin: 0;
}

header {
  padding: 160px 20px;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url(../images/header-background.jpg);
  background-size: cover;
  background-position: center;
}

header h1 {
  font-size: 72px;
}

header h2 {
  font-size: 28px;
}

header a {
  display: inline-block;
  text-decoration: none;
  font-size: 24px;
  padding: 12px 20px;
  margin-top: 30px;
  color: white;
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 8px;
  transition: all 150ms ease-in-out;
}

header a:hover {
  background-color: var(--secondary-color);
}

footer {
  padding: 50px 20px;
  text-align: center;
}

footer a.email-link {
  text-decoration: none;
  font-size: 28px;
  color: white;
  font-weight: 800;
  transition: all 150ms ease-in-out;
}

footer a.email-link:hover {
  color: var(--primary-color);
}

footer .social-links {
  margin: 10px auto 50px;
}

footer .social-links a {
  display: inline-block;
  font-size: 28px;
  color: var(--primary-color);
  margin: 15px;
  background-color: white;
  padding: 4px 12px;
  border-radius: 50px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background-color: var(--primary-color);
}

footer p {
  color: white;
}

footer p a {
  color: var(--primary-color);
}

footer p a:hover {
  color: var(--secondary-color);
}

@media (max-width: 768px) {
  header {
    padding: 80px 20px;
  }
}
